/* Created by: Mr. Kukwac
* Created on: Feb 2025
* This CSS file defines the style for more style.html
* Assign-01-HTML-Website
*/

h1 {
    text-align: center;
    background-color: red;
    color: black;
    padding: auto;
}

body {
    background-color: green;
    color: white;
}