/* Created by: Kukwac
* Created on: Feb 2025
* This CSS file defines the style for index.html
* ICS2O-Unit1-04-HTML-CSS
*/

body {
    background-color: white;
}

h1 {
    text-align: center;
    background-color: yellow;
    color: rgb(28, 51, 77)
    padding: 1px;
}

h4 {
    background-color: green;
    color: yellow;
    padding: 1px;
}